<app-template-b title="commande" subtitle="AJOUTER">
  <app-form-order (clicked)="openaddModal($event)"></app-form-order>
</app-template-b>
<ng-template #addOrderModal let-modal>
  <app-modal title="Confirmer modification" (dismissed)="dismissModal()">
    <div class="modal-body">
      êtes vous sûr de vouloir valider les modification ?


    </div>
    <div class="modal-footer">
      <app-btn [action]="true"  (clicked)="dismissModal()" label="Annuler"></app-btn>
      <app-btn [action]="true" (clicked)="addOrder(modalValues)" label="Confirmer"></app-btn>

    </div>

  </app-modal>


</ng-template>

