<app-table-light
  *ngIf="collectionOrder"
  [headers]="headersOrder"
  [collections]="collectionOrder"
>
  <tr *ngFor="let order of collectionOrder">
    <td>{{ order.client }}</td>
    <td>{{ order.typePresta }}</td>
    <td>{{ order.comment | titlecase }}</td>
    <td>{{ order.nbJours }}</td>
    <td>{{ order | total }}</td>
    <td>{{ order | total: "ttc" }}</td>
    <td appState [state]="order.state">
      <select (change)="changeState(order, $event)">
        <option
          *ngFor="let state of states"
          [value]="state"
          [selected]="state == order.state"
        >
          {{ state }}
        </option>
      </select>
    </td>
  </tr>
</app-table-light>
