<app-table-light
  *ngIf="collectionOrder"
  [headers]="headersOrder"
  [collections]="collectionOrder"
>
  <tr *ngFor="let order of collectionOrder">
    <td>{{ order.client }}</td>
    <td>{{ order.typePresta }}</td>
    <td>{{ order.comment | titlecase }}</td>
    <td>{{ order.nbJours }}</td>
    <td>{{ order | total }}</td>
    <td>{{ order | total: "ttc" }}</td>
    <td appState [state]="order.state">
      <select (change)="changeState(order, $event)">
        <option
          *ngFor="let state of states"
          [value]="state"
          [selected]="state == order.state"
        >
          {{ state }}
        </option>
      </select>
    </td>
  </tr>
</app-table-light>
<app-btn [action]="true" label="Action" (clicked)="testButton()"></app-btn>
<app-btn route="/clients" label="Redirection vers client"></app-btn>
<app-btn href="http://www.google.com" label="google"></app-btn>
<app-btn
  href="http://www.google.com"
  label="Aller sur mon json serveur"
  (clicked)="testButton2()"
></app-btn>
