<header class="fixed-top">

  <app-icon-menu (click)="toggleMenu()"></app-icon-menu>
<!-- <app-header></app-header> -->
<ng-content select="app-header"></ng-content>
</header>

<main [ngClass]="{'close-aside': !menuOpen}">


  <div class="shadow position-fixed">
  </div>

  <aside>
    <div class="scroller">
      <ng-content select="app-nav"></ng-content>

    </div>
  </aside>

  <div class="page">
<!-- selectionne une classe -->
    <div class="contents">
     <ng-content select=".content"></ng-content>

    </div>

    <footer>
      <ng-content select="app-footer"></ng-content>
    </footer>

  </div>
</main>
